# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

import httpx

from .._types import Body, Query, Headers, NotGiven, not_given
from .._utils import path_template
from .._compat import cached_property
from .._resource import SyncAPIResource, AsyncAPIResource
from .._response import (
    to_raw_response_wrapper,
    to_streamed_response_wrapper,
    async_to_raw_response_wrapper,
    async_to_streamed_response_wrapper,
)
from .._base_client import make_request_options
from ..types.favorite_add_response import FavoriteAddResponse
from ..types.favorite_list_response import FavoriteListResponse
from ..types.favorite_delete_response import FavoriteDeleteResponse

__all__ = ["FavoritesResource", "AsyncFavoritesResource"]


class FavoritesResource(SyncAPIResource):
    @cached_property
    def with_raw_response(self) -> FavoritesResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/stainless-sdks/resalign-python#accessing-raw-response-data-eg-headers
        """
        return FavoritesResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> FavoritesResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/stainless-sdks/resalign-python#with_streaming_response
        """
        return FavoritesResourceWithStreamingResponse(self)

    def list(
        self,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> FavoriteListResponse:
        """Retrieve all job postings saved by the user, ordered by most recently saved."""
        return self._get(
            "/v1/favorites/list",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=FavoriteListResponse,
        )

    def delete(
        self,
        job_posting_id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> FavoriteDeleteResponse:
        """
        Remove a job posting from the user's favorites list.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not job_posting_id:
            raise ValueError(f"Expected a non-empty value for `job_posting_id` but received {job_posting_id!r}")
        return self._delete(
            path_template("/v1/favorites/delete/{job_posting_id}", job_posting_id=job_posting_id),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=FavoriteDeleteResponse,
        )

    def add(
        self,
        job_posting_id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> FavoriteAddResponse:
        """Add a job posting to the user's favorites list for later reference.

        Validates
        that the job exists and is active before saving.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not job_posting_id:
            raise ValueError(f"Expected a non-empty value for `job_posting_id` but received {job_posting_id!r}")
        return self._post(
            path_template("/v1/favorites/add/{job_posting_id}", job_posting_id=job_posting_id),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=FavoriteAddResponse,
        )


class AsyncFavoritesResource(AsyncAPIResource):
    @cached_property
    def with_raw_response(self) -> AsyncFavoritesResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/stainless-sdks/resalign-python#accessing-raw-response-data-eg-headers
        """
        return AsyncFavoritesResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncFavoritesResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/stainless-sdks/resalign-python#with_streaming_response
        """
        return AsyncFavoritesResourceWithStreamingResponse(self)

    async def list(
        self,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> FavoriteListResponse:
        """Retrieve all job postings saved by the user, ordered by most recently saved."""
        return await self._get(
            "/v1/favorites/list",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=FavoriteListResponse,
        )

    async def delete(
        self,
        job_posting_id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> FavoriteDeleteResponse:
        """
        Remove a job posting from the user's favorites list.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not job_posting_id:
            raise ValueError(f"Expected a non-empty value for `job_posting_id` but received {job_posting_id!r}")
        return await self._delete(
            path_template("/v1/favorites/delete/{job_posting_id}", job_posting_id=job_posting_id),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=FavoriteDeleteResponse,
        )

    async def add(
        self,
        job_posting_id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> FavoriteAddResponse:
        """Add a job posting to the user's favorites list for later reference.

        Validates
        that the job exists and is active before saving.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not job_posting_id:
            raise ValueError(f"Expected a non-empty value for `job_posting_id` but received {job_posting_id!r}")
        return await self._post(
            path_template("/v1/favorites/add/{job_posting_id}", job_posting_id=job_posting_id),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=FavoriteAddResponse,
        )


class FavoritesResourceWithRawResponse:
    def __init__(self, favorites: FavoritesResource) -> None:
        self._favorites = favorites

        self.list = to_raw_response_wrapper(
            favorites.list,
        )
        self.delete = to_raw_response_wrapper(
            favorites.delete,
        )
        self.add = to_raw_response_wrapper(
            favorites.add,
        )


class AsyncFavoritesResourceWithRawResponse:
    def __init__(self, favorites: AsyncFavoritesResource) -> None:
        self._favorites = favorites

        self.list = async_to_raw_response_wrapper(
            favorites.list,
        )
        self.delete = async_to_raw_response_wrapper(
            favorites.delete,
        )
        self.add = async_to_raw_response_wrapper(
            favorites.add,
        )


class FavoritesResourceWithStreamingResponse:
    def __init__(self, favorites: FavoritesResource) -> None:
        self._favorites = favorites

        self.list = to_streamed_response_wrapper(
            favorites.list,
        )
        self.delete = to_streamed_response_wrapper(
            favorites.delete,
        )
        self.add = to_streamed_response_wrapper(
            favorites.add,
        )


class AsyncFavoritesResourceWithStreamingResponse:
    def __init__(self, favorites: AsyncFavoritesResource) -> None:
        self._favorites = favorites

        self.list = async_to_streamed_response_wrapper(
            favorites.list,
        )
        self.delete = async_to_streamed_response_wrapper(
            favorites.delete,
        )
        self.add = async_to_streamed_response_wrapper(
            favorites.add,
        )
