# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

from typing import Optional
from typing_extensions import Literal

import httpx

from ..types import recommendation_refresh_batch_params
from .._types import Body, Omit, Query, Headers, NotGiven, omit, not_given
from .._utils import maybe_transform, strip_not_given, async_maybe_transform
from .._compat import cached_property
from .._resource import SyncAPIResource, AsyncAPIResource
from .._response import (
    to_raw_response_wrapper,
    to_streamed_response_wrapper,
    async_to_raw_response_wrapper,
    async_to_streamed_response_wrapper,
)
from .._base_client import make_request_options
from ..types.recommendation_refresh_batch_response import RecommendationRefreshBatchResponse

__all__ = ["RecommendationsResource", "AsyncRecommendationsResource"]


class RecommendationsResource(SyncAPIResource):
    @cached_property
    def with_raw_response(self) -> RecommendationsResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/resalignai/resalign-python#accessing-raw-response-data-eg-headers
        """
        return RecommendationsResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> RecommendationsResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/resalignai/resalign-python#with_streaming_response
        """
        return RecommendationsResourceWithStreamingResponse(self)

    def list(
        self,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> object:
        """
        Get personalized job recommendations for the user, including active and
        preserved matches.
        """
        return self._get(
            "/v1/recommendations",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=object,
        )

    def refresh(
        self,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> object:
        """Recompute job recommendations based on current profile preferences.

        Requires
        profile strength >= 35.
        """
        return self._post(
            "/v1/recommendations/refresh",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=object,
        )

    def refresh_batch(
        self,
        *,
        report_id: Optional[str] | Omit = omit,
        tier: Literal["free", "student", "pro", "all"] | Omit = omit,
        trigger: Optional[str] | Omit = omit,
        x_service_key: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> RecommendationRefreshBatchResponse:
        """
        Trigger batch recommendation refresh.

        Called by Cloud Scheduler or scraper webhook after job sync. Returns 202
        immediately; work runs in background via FastAPI BackgroundTasks.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        extra_headers = {**strip_not_given({"X-Service-Key": x_service_key}), **(extra_headers or {})}
        return self._post(
            "/v1/recommendations/refresh-batch",
            body=maybe_transform(
                {
                    "report_id": report_id,
                    "tier": tier,
                    "trigger": trigger,
                },
                recommendation_refresh_batch_params.RecommendationRefreshBatchParams,
            ),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=RecommendationRefreshBatchResponse,
        )


class AsyncRecommendationsResource(AsyncAPIResource):
    @cached_property
    def with_raw_response(self) -> AsyncRecommendationsResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/resalignai/resalign-python#accessing-raw-response-data-eg-headers
        """
        return AsyncRecommendationsResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncRecommendationsResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/resalignai/resalign-python#with_streaming_response
        """
        return AsyncRecommendationsResourceWithStreamingResponse(self)

    async def list(
        self,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> object:
        """
        Get personalized job recommendations for the user, including active and
        preserved matches.
        """
        return await self._get(
            "/v1/recommendations",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=object,
        )

    async def refresh(
        self,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> object:
        """Recompute job recommendations based on current profile preferences.

        Requires
        profile strength >= 35.
        """
        return await self._post(
            "/v1/recommendations/refresh",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=object,
        )

    async def refresh_batch(
        self,
        *,
        report_id: Optional[str] | Omit = omit,
        tier: Literal["free", "student", "pro", "all"] | Omit = omit,
        trigger: Optional[str] | Omit = omit,
        x_service_key: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> RecommendationRefreshBatchResponse:
        """
        Trigger batch recommendation refresh.

        Called by Cloud Scheduler or scraper webhook after job sync. Returns 202
        immediately; work runs in background via FastAPI BackgroundTasks.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        extra_headers = {**strip_not_given({"X-Service-Key": x_service_key}), **(extra_headers or {})}
        return await self._post(
            "/v1/recommendations/refresh-batch",
            body=await async_maybe_transform(
                {
                    "report_id": report_id,
                    "tier": tier,
                    "trigger": trigger,
                },
                recommendation_refresh_batch_params.RecommendationRefreshBatchParams,
            ),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=RecommendationRefreshBatchResponse,
        )


class RecommendationsResourceWithRawResponse:
    def __init__(self, recommendations: RecommendationsResource) -> None:
        self._recommendations = recommendations

        self.list = to_raw_response_wrapper(
            recommendations.list,
        )
        self.refresh = to_raw_response_wrapper(
            recommendations.refresh,
        )
        self.refresh_batch = to_raw_response_wrapper(
            recommendations.refresh_batch,
        )


class AsyncRecommendationsResourceWithRawResponse:
    def __init__(self, recommendations: AsyncRecommendationsResource) -> None:
        self._recommendations = recommendations

        self.list = async_to_raw_response_wrapper(
            recommendations.list,
        )
        self.refresh = async_to_raw_response_wrapper(
            recommendations.refresh,
        )
        self.refresh_batch = async_to_raw_response_wrapper(
            recommendations.refresh_batch,
        )


class RecommendationsResourceWithStreamingResponse:
    def __init__(self, recommendations: RecommendationsResource) -> None:
        self._recommendations = recommendations

        self.list = to_streamed_response_wrapper(
            recommendations.list,
        )
        self.refresh = to_streamed_response_wrapper(
            recommendations.refresh,
        )
        self.refresh_batch = to_streamed_response_wrapper(
            recommendations.refresh_batch,
        )


class AsyncRecommendationsResourceWithStreamingResponse:
    def __init__(self, recommendations: AsyncRecommendationsResource) -> None:
        self._recommendations = recommendations

        self.list = async_to_streamed_response_wrapper(
            recommendations.list,
        )
        self.refresh = async_to_streamed_response_wrapper(
            recommendations.refresh,
        )
        self.refresh_batch = async_to_streamed_response_wrapper(
            recommendations.refresh_batch,
        )
